
doctype html
head
    title Hello World
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='../css/about.min.css', rel='stylesheet')
    link(rel="stylesheet", href="../node_modules/bootstrap/dist/css/bootstrap.min.css")
    script(src="../node_modules/scrollreveal/dist/scrollreveal.min.js")
    
    br
    div.container
        h1.display-3.text-center.rev About us.


    script(src="../src/about.js") 