
doctype html
head
    title Hello World
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='../css/index/index.min.css', rel='stylesheet')
    link(href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    script(src="../bower_components/scrollreveal/dist/scrollreveal.min.js")
div(class="container-fluid")
                            include navbar.pug
div(class="container")
                      include get_info.pug


script(src="../src/index.js")