
head 
    link(rel="stylesheet", href="../css/navbar/navbar.min.css")
nav(class="navbar")
             div(class="row")
                 a(class="col " href="/about") About page
  
                 a(class="col " href="/about") About page
  
                 a(class="col " href="/about") About page                 