
doctype html
head
    title Hello World
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='../css/team/team.min.css', rel='stylesheet')
    link(href="../node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet")
    script(src="../node_modules/scrollreveal/dist/scrollreveal.min.js")


div.container
    h1.display-3.text-center.rev Team.

    br

    div.profile.rev
        img(src="../assets/ethan.jpg").mx-auto.d-block
        div.content
            h5 Ethan
            p Aliquam nibh arcu, varius nec suscipit eu, vulputate et orci. Quisque sit amet gravida nisl.Sed commodo et eros sit amet finibus. Aenean pharetra tincidunt sem, et interdum risus tincidunt in.Cras urna orci, convallis ut egestas at, laoreet quis sapien. Nulla vulputate tellus sit amet leo auctor mollis. Aenean pulvinar facilisis tortor, a volutpat lectus ultrices at. Fusce vestibulum vehicula tellus, non cursus nunc pretium id.

    div.profile.rev
        img(src="../assets/minwow.jpg").mx-auto.d-block
        div.content
            h5 Minwow
            p Aliquam nibh arcu, varius nec suscipit eu, vulputate et orci. Quisque sit amet gravida nisl.Sed commodo et eros sit amet finibus. Aenean pharetra tincidunt sem, et interdum risus tincidunt in.Cras urna orci, convallis ut egestas at, laoreet quis sapien. Nulla vulputate tellus sit amet leo auctor mollis. Aenean pulvinar facilisis tortor, a volutpat lectus ultrices at. Fusce vestibulum vehicula tellus, non cursus nunc pretium id.

    div.profile.rev
        img(src="../assets/carlos.png").mx-auto.d-block
        div.content
            h5 Carlos
            p Aliquam nibh arcu, varius nec suscipit eu, vulputate et orci. Quisque sit amet gravida nisl.Sed commodo et eros sit amet finibus. Aenean pharetra tincidunt sem, et interdum risus tincidunt in.Cras urna orci, convallis ut egestas at, laoreet quis sapien. Nulla vulputate tellus sit amet leo auctor mollis. Aenean pulvinar facilisis tortor, a volutpat lectus ultrices at. Fusce vestibulum vehicula tellus, non cursus nunc pretium id.



script(src="../node_modules/jquery/dist/jquery.min.js")
script(src="../node_modules/popper.js/dist/popper.min.js")
script(src="../node_modules/bootstrap/dist/js/bootstrap.js")
script(src="../src/team.js")