.profile {
  padding: 1vw;
  display: flex;
  flex-direction: row;
}

.profile img {
  max-width: 150px;
  max-height: 150px;
  border-radius: 50%;
}

.profile p {
  letter-spacing: 0.09vw;
}

.profile .content {
  margin: 5vw;
}
